<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <terra-button inputIcon='icon-refresh'
                          [inputTooltipText]="'stats-view.refreshToolTip' | translate:lang"
                          [inputCaption]="'stats-view.refresh' | translate:lang"
                          inputTooltipPlacement="left"
                          (outputClicked)="ngOnInit(1)">
            </terra-button>
        </div>
    </div>
</div>

<terra-portlet>
    <b>Category Selection</b>
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <terra-suggestion-box
                        inputName="Category Selection"
                        [inputListBoxValues]="_categoryOptionTypesList"
                        [(ngModel)]="_pickedCategoryValue"
                        (ngModelChange)="onCategoryChange()">
                </terra-suggestion-box>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-1">
                <terra-button inputIcon="icon-save"
                              inputTooltipText="Create PB Category as Eigenschaften and Fetch the Attributes for Mapping."
                              inputTooltipPlacement="right"
                              inputIsTertiary="true"
                              inputCaption=" Proceed Further"
                              (outputClicked)="savePBCategoryAsProperty()">
                </terra-button>
            </div>
        </div>

    </div>
</terra-portlet>


<terra-portlet>
    <div *ngIf="_requestedForMapping">
        <span><b>Property Mapping</b></span><br>
        <div class="container" *ngFor="let vendorAttribute of vendorAttributes">
            <div class="row">
                <div class="col-lg-2">{{vendorAttribute.name}}</div>
                <div class="col-lg-1"></div>
                <!--If user already made a selection -->
                <div class="col-lg-3" *ngIf="vendorAttribute.value !== undefined">
                    <terra-suggestion-box
                            inputName="property"
                            [inputListBoxValues]="_selectableOptionTypesList"
                            [(ngModel)]="vendorAttribute.value"
                            (ngModelChange)="onSelectChangeAttribute($event, vendorAttribute.name)">
                    </terra-suggestion-box>
                </div>
                <!-- If user didn't made a selection -->
                <div class="col-lg-3" *ngIf="vendorAttribute.value === undefined">
                    <terra-suggestion-box
                            inputName="property"
                            [inputListBoxValues]="_selectableOptionTypesList"
                            [(ngModel)]="_pickedValue[vendorAttribute.name + '-attribute']">
                    </terra-suggestion-box>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <terra-button inputIcon="icon-save"
                                  inputTooltipText="Mapping Property Values"
                                  inputTooltipPlacement="right"
                                  inputIsTertiary="true"
                                  inputCaption=" Mapping Property Values"
                                  (outputClicked)="savePropertyMapping(vendorAttribute.attributeId, true, vendorAttribute.name)">
                    </terra-button>
                </div>
            </div>
        </div>
    </div>
</terra-portlet>


<terra-overlay #propertyValueMapping
               [inputIsLarge]="true"
               inputOverlayTitle="Property Values Mapping">
    <terra-portlet>
        <div class="container" *ngFor="let attribute of relatedAttributes">
            <div class="row">
                <div class="col-lg-3">{{attribute.name}}</div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5" *ngIf="attribute.value !== undefined">
                    <terra-suggestion-box
                            inputName="property value"
                            [inputListBoxValues]="_selectablePropertyValueList"
                            [(ngModel)]="attribute.value"
                            (ngModelChange)="onSelectChangeAttributeValue($event, attribute.name, attribute.parentAttribute)">
                    </terra-suggestion-box>
                </div>
                <div class="col-lg-5" *ngIf="attribute.value === undefined">
                    <terra-suggestion-box
                            inputName="property value"
                            [inputListBoxValues]="_selectablePropertyValueList"
                            [(ngModel)]="_pickedValue[attribute.name + '~' + attribute.parentAttribute]">
                    </terra-suggestion-box>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9"></div>
            <div class="col-lg-3">
                <terra-button inputIcon="icon-save"
                              inputTooltipText="Mapping Property Values"
                              inputTooltipPlacement="right"
                              inputIsTertiary="true"
                              inputCaption=" Mapping Property Values"
                              (outputClicked)="savePropertyMapping(relatedAttributes[0].parentAttribute, false)">
                </terra-button>
            </div>
        </div>
    </terra-portlet>
</terra-overlay>