<terra-base-toolbar>
    <terra-button inputIcon="icon-plugin_productive"
                  inputTooltipText="login url"
                  inputTooltipPlacement="right"
                  inputIsTertiary="true"
                  (outputClicked)="getLoginUrl()">
    </terra-button>
</terra-base-toolbar>

<div *ngIf="this._expireTime">
    <p>Your token will be expired by {{this._expireTime}}</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <span>Please click here to create PandaBlack Attributes</span> <terra-button inputIcon="icon-save" (outputClicked) ="createOrder()"></terra-button>
        </div>
    </div>
</div>
