<terra-base-toolbar>
    <terra-button inputIcon="icon-plugin_productive"
                  inputTooltipText="Authenticate to Panda Black"
                  inputTooltipPlacement="right"
                  inputIsTertiary="true"
                  [inputCaption]="'itool.authenticate-button' | translate:lang"
                  (outputClicked)="getLoginUrl()">
    </terra-button>
</terra-base-toolbar>

<terra-info-box *ngIf="this._expireTime">
    <span body>{{ 'itool.token-expiration' | translate:lang }}{{this._expireTime}}.</span>
</terra-info-box>


<terra-info-box *ngIf="!this._expireTime">
    <span body>{{ 'itool.authenticate-plugin' | translate:lang }}</span>
</terra-info-box>
