<terra-base-toolbar>
    <terra-button inputIcon="icon-plugin_productive"
                  inputTooltipText="Authenticate to Panda Black"
                  inputTooltipPlacement="right"
                  inputIsTertiary="true"
                  inputCaption="authenticate"
                  (outputClicked)="getLoginUrl()">
    </terra-button>
</terra-base-toolbar>

<terra-info-box *ngIf="this._expireTime">
    <span body>Your token will be expired by {{this._expireTime}}.</span>
</terra-info-box>


<terra-info-box *ngIf="!this._expireTime">
    <span body>Please authenticate to Panda Black.</span>
</terra-info-box>
