<terra-alert-panel></terra-alert-panel>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <terra-base-toolbar>
                <terra-button inputIcon="icon-add"
                              inputTooltipText="fetch data"
                              inputTooltipPlacement="right"
                              (outputClicked)="categoryExtraction()">
                </terra-button>
            </terra-base-toolbar>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">
            <terra-portlet>
                <terra-tree [inputLeafList]="vendorCategories"></terra-tree>
            </terra-portlet>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            <terra-portlet>
                <terra-tree [inputLeafList]="categories"></terra-tree>
            </terra-portlet>
        </div>
    </div>
    <div class="row">
        {{ categoryMapping | json }}
    </div>
</div>
