.center
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-information-container
{
  padding:10px;
}
.content
{
  min-height: 15vh;
  td
  {
    padding: 5px;
  }
  th
  {
    padding: 5px;
  }
}

.info-box[_ngcontent-c10] .info-box-inner[_ngcontent-c10] .info-box-text[_ngcontent-c10] {
  width: 100% !important;
}

.category-mapping {
  padding-left: 16px !important;
}