<terra-alert-panel></terra-alert-panel>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <terra-base-toolbar>
                <terra-button inputIcon="icon-delete"
                              [inputTooltipText] = "'stats-view.deleteMappingToolTip' | translate:lang"
                              [inputCaption] = "'stats-view.deleteMapping' | translate:lang"
                              inputIsSecondary="true"
                              inputTooltipPlacement="right"
                              (outputClicked)="deleteAllCorrelations()">
                </terra-button>
                <terra-button [inputCaption]="'stats-view.sendProductsToPandaBlack' | translate:lang"
                              (outputClicked)="sendProducts()">
                </terra-button>
                <terra-button inputIcon='icon-refresh'
                              [inputTooltipText]="'stats-view.refreshToolTip' | translate:lang"
                              [inputCaption]="'stats-view.refresh' | translate:lang"
                              inputTooltipPlacement="left"
                              (outputClicked)="categoryExtraction()">
                </terra-button>
            </terra-base-toolbar>
        </div>
    </div>
    <div class="row">
        <terra-overlay #viewChildOverlayWithPrimaryButton
                       [inputOverlayTitle]="'stats-view.attributeMapping' | translate:lang"
                       [inputIsLarge]="true"
                       [inputPrimaryButtonInterface]="_primaryButtonInterface">
        </terra-overlay>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div *ngFor="let correlation of categoryMapping;">
                <terra-info-box>
                    <div body class="row">
                        <div class="col-xs-12 col-md-6 col-lg-6 category-mapping">
                            {{ 'stats-view.pandaBlackCategoryTitle' | translate:lang }}:<br>
                            <b>{{ correlation.settings[0].vendorCategory[0].name }}</b>
                            <br><br>
                            {{ 'stats-view.plentyMarketCategoryTitle' | translate:lang }}:<br>
                            <b>{{ correlation.settings[0].category[0].details[0].name }}</b>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            {{ 'stats-view.requiredAttributesTitle' | translate:lang }}:<br>
                            <div *ngFor="let attribute of correlation.settings[0].attributes">
                                <b>{{ attribute }}</b><br>
                            </div>
                        </div>
                    </div>

                    <div buttons>
                        <terra-button inputIcon = "icon-delete"
                                      inputIsSecondary = "true"
                                      [inputTooltipText]="'stats-view.deleteCategoryMapping' | translate:lang"
                                      (outputClicked)="deleteCorrelation(correlation.id)">
                        </terra-button>
                    </div>
                </terra-info-box>
                <div *ngIf="editCorrelationId === correlation.id;">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <terra-portlet>
                                <terra-tree [inputLeafList]="vendorCategories"></terra-tree>
                            </terra-portlet>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <terra-portlet>
                                <terra-tree [inputLeafList]="categories"></terra-tree>
                            </terra-portlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="editCorrelationId === 0;">
        <div class="col-xs-12 col-md-6 col-lg-6">
            {{ 'stats-view.selectPandaBlackMessage' | translate:lang }}:<br>
            <terra-portlet>
                <terra-tree [inputLeafList]="vendorCategories"></terra-tree>
            </terra-portlet>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            {{ 'stats-view.selectPlentyMarketMessage' | translate:lang }}:<br>
            <terra-portlet>
                <terra-tree [inputLeafList]="categories"></terra-tree>
            </terra-portlet>
        </div>
    </div>
</div>
