<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Error Products</h1>
            <terra-button inputIcon='icon-refresh'
                          [inputTooltipText]="'stats-view.refreshToolTip' | translate:lang"
                          [inputCaption]="'stats-view.refresh' | translate:lang"
                          inputTooltipPlacement="left"
                          (outputClicked)="ngOnInit()">
            </terra-button>
            <terra-button [inputCaption]="'stats-view.validation' | translate:lang"
                          (outputClicked)="validationProducts()">
            </terra-button>
        </div>
    </div>
    <br>
    <terra-pager [inputPagingData]="pagingData"></terra-pager>
    <terra-simple-table #table
                        [inputIsStriped]="true"
                        [inputHasCheckboxes]="true"
                        [inputUseHighlighting]="true"
                        [inputEnableHotkeys]="true"
                        [inputHeaderList]="_headerList"
                        [inputRowList]="_rowList">
    </terra-simple-table>
    <br><br><br>
    <terra-portlet [inputPortletHeader]="'status.admin-notification' | translate:lang">
        <div *ngFor="let adminNotification of this.admin">
            <div class="row">
                <div class="col-lg-7">
                    <div>{{adminNotification.msg}}</div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <!--<terra-button inputIcon="icon-delete"
                                  inputTooltipPlacement="right"
                                  inputIsTertiary="true"
                                  inputCaption=""
                                  (outputClicked)="deletePropertyNotification(adminNotification.id, 'admin')">
                    </terra-button>-->
                </div>
            </div>
        </div>
    </terra-portlet>
</div>